{% extends "base.html" %}

{% block title %}How It Works{% endblock%}

{%block content%}

  <div class="container" >

    <p style= "font-size: 25px;">
    This webapp was developed using Python, HTML and Javascript(pasted from Stackoverflow)
    <dl style= "font-size: 20px;">
      <lh>Python:</lh>
      <dt>
      &ensp; -Based on Flask micro-framework<br>
      &ensp;-Python contols all the backend of the webapp
      </dt><br>
      <lh>HTML:</lh>
      <dt>
      &ensp;-For all the front-end
      &ensp;-Makes use of Jinja 2.0
      </dt><br>
      <lh>Javascript:</lh>
      <dt>
      &ensp;-For all the basic stuff within the webpage like animations and form check
      &ensp;-Was pasted wholly from Stackoverflow ;)
      </dt><br>
      <lh>Webapp Hosting :</lh>
      <dt>
      &ensp;-Hosted for free on Heroku servers
      </dt><br>
      <lh>Data Storage :</lh>
      <dt>
      &ensp;-Uses Postgres Database maintained also by Heroku
      &ensp;-No cridentials of the database are visible to anyone except for the creator itself.
      Your data is safe
      </dt><br>

    </dl>

    </p>
  </div>
{%endblock%}
