{%extends "base.html" %}

{% block title %}Share files {% endblock %}

{% block content %}

{%if error is defined%}
<div class="alert alert-warning" role="alert">
    {{error}}
</div>
{%endif%}



<div class="input-group mb-3" style="margin-left:5%; margin-top:5%">
    <form id="myform" enctype='multipart/form-data' method="POST" action="{{url_for('success')}}" style="width:45%">
    
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" style="font-size:20px; margin-bottom:0px">Username:</label>
            <div id="emailHelp" class="form-text" style="margin-bottom:2px">This is the username you will share with others</div>
            <input id="username" type="text" name="user_name" pattern="[a-z0-9_]+" style="width:100%;height:40px; padding:1%" required>
            <div id="emailHelp" class="form-text">*only enter lowercase letters, numbers or underscores(_)</div>
        </div>
   
        <input style="width:100%" class="form-control" type="file" id="files" name="files" aria-describedby="basic-addon1" required multiple>
        <div id="emailHelp" class="form-text">*Combined size of all files should not exceed 40MB</div>
        <br>
        
        <input onclick = "showuploading()" class="btn btn-primary" type="submit" value="Share Files" style="margin-top:20px;  height:auto ; width :auto;font-size:20px ;padding:10px">
        
    </form> 

    <div id="upload" style="display:none;"><div class="loadingio-spinner-blocks-82q6epkk1xw"><div class="ldio-9c27qfqiqy9">
        <div style='left:38px;top:38px;animation-delay:0s'></div><div style='left:80px;top:38px;animation-delay:0.125s'></div><div style='left:122px;top:38px;animation-delay:0.25s'></div><div style='left:38px;top:80px;animation-delay:0.875s'></div><div style='left:122px;top:80px;animation-delay:0.375s'></div><div style='left:38px;top:122px;animation-delay:0.75s'></div><div style='left:80px;top:122px;animation-delay:0.625s'></div><div style='left:122px;top:122px;animation-delay:0.5s'></div>
        </div></div><br>Please wait while we gobble up your files...</div>


</div>
<br>
<br>
    <script type="text/javascript">
        function showuploading() {
            var f = document.getElementById("files");
            var text = document.getElementById("username");
            var re = /^[0-9_a-z]+$/;        //regex to checvk the input of username
            if(!re.test(text.value)){
                alert("Please dont include uppercase letters or special characters in your username (except for underscore(_)");
                return 
                console.log("hello i rached here");
            }
            else if(""==f.value){
                alert("Please select one or more files")
                return
            }
            else{
                document.getElementById("upload").style.display = "";
            }
        }
    </script>
{% endblock %}



